
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>
<form method="post" action="@Url.Action("Haku", "Topics")" >
    
       
        Keyword:<br />
        <input type="text" name="keyword" />
   
   
    <div class="form-group">
        <input type="submit" value="search">
    </div>
</form>

